@import "../../app.component.css";

.dotGreen, .dotRed {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }
  .dotRed{
    background-color: red;
  }

  .dotGreen{
    background-color: green;
  }

