.general{
    text-align: center;
    border-radius: 5px;
    border-color: #3f3811;
    border-width: 2px;
    border-style: solid; 
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    width: 70%
}


.imagen{
    border-radius: 8px;
    width: 70%;
}

h1{
    margin-left: 10%;
    color: #7c795d;
    font-family: 'Trocchi', 
    serif; font-size: 45px; 
    font-weight: normal; 
    line-height: 35px;
      
}

h2{
    color: rgb(105, 103, 85);
    font-family: 'Trocchi', 
    serif; font-size: 24px; 
    font-weight: normal; 
    line-height: 20px;
      
}

h3{
    color: #3f3e3a;
    font-family: 'Trocchi', 
    serif; font-size: 18px; 
    font-weight:lighter;
    line-height: 8px;
}